.card-temperature {
    background: linear-gradient(to top, rgb(224, 174, 9), 10%,rgb(255, 255, 255), rgb(255, 255, 255));
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    color: #000000;
    border: 0.01rem #ececec; 
    border-radius: 0.8rem;
    box-shadow: 0.01rem 0.01rem 0px 0px #00000057, -3px 3px 10px 0px #00000057, 0px 3px 10px 0px #00000057;
    cursor: none;
    width: 18rem; 
    height: 28rem;
    }
  
  .card-temperature-city{
    padding-top: 1.5rem;  
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
    }
  
    .card-temperature-date{
      font-size: 1rem;
      text-align: center;
    }
  
  .card-temperature-image {
      width: 9rem; 
      height: 9rem;
      margin-left: 0.8rem;
      margin-top: 0.8rem;
      margin-bottom: 0.8rem;
    }
  
    .card-temperature-grades{
      font-size: 3.5rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 0.6rem;
    }
  
    .card-temperature-text{
      font-size: 1.5rem;
      text-align: center;
    }